page-login {
    .input-border{
        border: 1px solid;
        color: lightgray !important;
    padding: 10px;
    box-shadow: 5px 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
