page-signup {

    .font-co {
        color: black;
        font-size: 12px;
        margin-top: 10px;
    }

    .font-co button
    {
        padding-left: 4px;
        padding-bottom: 12px;
        font-size: 12px;    
        text-transform: none;
    }



}
